node_modules/
dist/
build/
bot-data/
*.js.map
*.tsbuildinfo
tsconfig.tsbuildinfo
.idea/
.vscode/
.atom/
.sublime-text/
.emacs/
.DS_Store
.env
Thumbs.db
ehthumbs.db
Desktop.ini
*.log
*.tmp
*.bak
*.swp
*.swo
*.lock
*.pid
